<sly data-sly-use.breadcrumb="com.adobe.cq.wcm.core.components.models.Breadcrumb"/>
<nav class="news-breadcrumb" data-sly-test="${breadcrumb.items.size > 0}" aria-label="Breadcrumb">
    <ol class="news-breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
        <sly data-sly-list.item="${breadcrumb.items}">
            <li class="news-breadcrumb__item ${itemList.last ? 'is-current' : ''}"
                itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <sly data-sly-test="${!itemList.last}">
                    <a href="${item.URL}" class="news-breadcrumb__link" itemprop="item">
                        <span itemprop="name">${item.title}</span>
                    </a>
                    <span class="news-breadcrumb__separator" aria-hidden="true">/</span>
                </sly>
                <sly data-sly-test="${itemList.last}">
                    <span class="news-breadcrumb__current" itemprop="name" aria-current="page">${item.title}</span>
                </sly>
                <meta itemprop="position" content="${itemList.count}"/>
            </li>
        </sly>
    </ol>
</nav>
